<nav id="nav" [class.transparent]="sticky">
  <div id="logo-container">
    <a routerLink="/" routerLinkActive="active">
      <img id="logo" src="assets/pokemon-logo.png" alt="pokemon logo" />
    </a>
  </div>
  <div id="menu-btn" (click)="toggleMenu()">☰</div>
  <ul id="links-container" [class.show]="menuOpen">
    <li class="link" *ngFor="let link of links">
      <a [routerLink]="link.url" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: link.exact }"
        (click)="toggleMenu()">{{ link.text }}</a>
    </li>
  </ul>
</nav>