$large-font-size: 3rem;
$normal-font-size: 2rem;
$standard-margin: 1rem 0;

.center-text {
  text-align: center;
}

.full-width {
  width: 100%;
}

.vh-padding {
  padding: 10vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  @extend .flex-center;
  flex-direction: column;
}

.flex-row {
  @extend .flex-center;
  flex-direction: row;
}

#title {
  @extend .center-text;
  font-size: $large-font-size;
  margin: $standard-margin;
  @extend .vh-padding;
}

#principal-background {
  @extend .full-width;
  height: 50vh;
  background-image: url("/assets/videogames/video-games.jpeg");
  background-attachment: fixed;
  background-size: cover;
}

.generation {
  @extend .flex-column;
  @extend .full-width;
}

.generation-title {
  font-size: $large-font-size;
  margin: $standard-margin;
}

.generation-description {
  font-size: $normal-font-size;
  width: 60%;
  @extend .center-text;
  margin: $standard-margin;
}

.games-container {
  @extend .flex-row;
  @extend .full-width;
}

.image-container {
  width: 33%;
  height: 464px;
  @extend .flex-row;

  .game-image {
    width: 90%;
    border-radius: 1rem;
  }

  .special {
    width: 40%;
  }

  @media screen and (max-width: 1500px) {
    .special {
      width: 60%;
    }
  }
}
