<main>
    <div class="title-container">
        <h1 id="title">WEB DE POKEMON REALIZADA CON</h1>
        <img id="angular" src="assets/angular.png" alt="angular">
    </div>
    <p>En esta vista explicaré paso a paso como he realizado este proyecto con Angular, para ello he utilizado la versión de Angular 15.2 y me he decantado por sass (scss) para tener la ventaja de dar estilos de una manera mas optima a la web teniendo en cuenta que al realizar la parte del <b><i>ng build</i></b> el propio framework lo transforma a css.</p>
    <h2 id="intro">Introducción</h2>
    <p>Para comenzar un nuevo proyecto con Angular, primero deberás instalar Node.js y npm, que son dos herramientas
        fundamentales para el desarrollo de aplicaciones web con este framework.
        Una vez instalado Node.js y npm, puedes instalar Angular CLI, que es una herramienta de línea de comandos que te
        permite
        crear y administrar proyectos de Angular de forma sencilla.

        Para instalar Angular CLI, abre una terminal y ejecuta el siguiente comando:
    </p>
    <pre>
    <div class="code-container">
        <code>npm install -g @angular/cli</code>
    </div>
    </pre>

    <p>Una vez instalado Angular CLI, puedes crear un nuevo proyecto de Angular ejecutando el siguiente comando en la
        terminal
        (reemplaza mi-proyecto con el nombre que desees para tu proyecto):</p>
    <pre>
    <code>ng new nombre-proyecto</code>
    </pre>
    <p>Te preguntará una serie de preguntas sobre el estilo de hoja y si quieres añadir el enrutamiento, puedes
        seleccionar las
        opciones que prefieras. Después de crear el proyecto, puedes entrar en su directorio y luego puedes iniciar el
        servidor de desarrollo local y abrir la aplicación en tu navegador con:</p>
    <pre>
    <code>ng serve</code>
    </pre>
    <p>Después de ejecutar este comando, abre tu navegador y navega a http://localhost:4200/ para ver tu nueva
        aplicación de
        Angular en acción. Tambien puedes ejecutar el siguiente comando para que se abra automaticamente el navegador:
    </p>
    <pre>
    <code>ng serve -o</code>
    </pre>
    <h2 id="estructura">Estructura</h2>
    <img src="assets/home-images/estructura.png" alt="estructura de archivos angular">
    <h2 id="modulos">Modulos</h2>
    <h2 id="componentes">Componentes</h2>
    <h2 id="rutas">Rutas</h2>

    <nav id="nav">
        <ul id="links-container">
            <li class="link"><a href="#intro">Introducción</a></li>
            <li class="link"><a href="#estructura">Estructura</a></li>
            <li class="link"><a href="#modulos">Modulos</a></li>
            <li class="link"><a href="#componentes">Componentes</a></li>
            <li class="link"><a href="#rutas">Rutas</a></li>
        </ul>
    </nav>
</main>